
*{
	margin : 0;
	padding: 0;
	font-size: 18px;
	color: #66FCF1;
	font: "bebas-neue";
}

.container{
	margin: 60px auto;
	width: auto;
	height: auto;
}

header{
	background-color:#1F2833;
	height: 65px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid #45A29E;

}

.body{
	margin: 60px auto;
	width: auto;
	height: auto;
	background-color: #0B0C10;
}
div{
	border: 1px solid #45A29E;
}

form{
	background-color: #0B0C10;
}
button{
	background-color: #0B0C10;
}
input{
	background-color: #C5C6C7;
	align: right;
}
h2{
	color: #66FCF1;
	font: "bebas-neue";
	font-size: 30px;
}
h4{
	text-align: center;
}